$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #8aadf4;
$secondary_paletteKeyColor: #8aadf4;
$tertiary_paletteKeyColor: #8aadf4;
$neutral_paletteKeyColor: #8aadf4;
$neutral_variant_paletteKeyColor: #24273a;
$background: #1e2030;
$onBackground: #cad3f5;
$surface: #1e2030;
$surfaceDim: #0d0e19;
$surfaceBright: #363a4f;
$surfaceContainerLowest: #181926;
$surfaceContainerLow: #24273a;
$surfaceContainer: #1e2030;
$surfaceContainerHigh: #1e2030;
$surfaceContainerHighest: #5b6078;
$onSurface: #cad3f5;
$surfaceVariant: #24273a;
$onSurfaceVariant: #cad3f5;
$inverseSurface: #eff1f5;
$inverseOnSurface: #4c4f69;
$outline: #cad3f5;
$outlineVariant: #8aadf4;
$shadow: #000000;
$scrim: #181926;
$surfaceTint: #363a4f;
$primary: #8aadf4;
$onPrimary: #181926;
$primaryContainer: #8aadf4;
$onPrimaryContainer: #181926;
$inversePrimary: #1e66f5;
$secondary: #8aadf4;
$onSecondary: #181926;
$secondaryContainer: #1e2030;
$onSecondaryContainer: #8aadf4;
$tertiary: #8aadf4;
$onTertiary: #181926;
$tertiaryContainer: #24273a;
$onTertiaryContainer: #cad3f5;
$error: #ed8796;
$onError: #181926;
$errorContainer: #f15b74;
$onErrorContainer: #181926;
$primaryFixed: #8aadf4;
$primaryFixedDim: #5d94f9;
$onPrimaryFixed: #181926;
$onPrimaryFixedVariant: #181926;
$secondaryFixed: #8aadf4;
$secondaryFixedDim: #5d94f9;
$onSecondaryFixed: #181926;
$onSecondaryFixedVariant: #181926;
$tertiaryFixed: #8aadf4;
$tertiaryFixedDim: #5d94f9;
$onTertiaryFixed: #181926;
$onTertiaryFixedVariant: #181926;
$success: #a6da95;
$onSuccess: #181926;
$successContainer: #24273a;
$onSuccessContainer: #cad3f5;
